.wrapper{
    padding: 1rem;
}

h1{
    text-align: center;
}

.printerWrapper{
    max-width: 450px;

    display: flex;
    flex-direction: column;
}

.toPrintWrapper{
    max-width: 450px;

    display: flex;
    flex-direction: column;
}

.itemTicket{
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

button{
    margin-bottom: 1rem;
}

mat-form-field{
    padding-top: 0;
}