<div class="wrapper">
  <h1>
    Configurando y trabajando con una impresora térmica
    <mat-icon>receipt_long</mat-icon>
  </h1>

  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Configurar impresora </mat-panel-title>
        <mat-panel-description>
          Ajusta los parámetros de tu impresora
          <mat-icon>build</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="toPrintWrapper">
        <button
          mat-flat-button
          type="button"
          (click)="loadPrinters()"
          color="primary"
        >
          <mat-icon>list</mat-icon>Cargar impresoras
        </button>
        <ng-container *ngIf="printers.length > 0">
          <mat-form-field appearance="outline">
            <mat-label>Elige una impresora</mat-label>
            <mat-select [(ngModel)]="selectedPrinter" required>
              <mat-option *ngFor="let printer of printers" [value]="printer">{{
                printer
              }}</mat-option>
            </mat-select>
          </mat-form-field>
          <button
            *ngIf="selectedPrinter !== ''"
            [disabled]="testPageStatus === requestPrintStatusEnum.Requested"
            mat-stroked-button
            type="button"
            (click)="PrintTestMessage()"
            color="primary"
          >
            <mat-icon>receipt_long</mat-icon>Imprimir página de prueba
          </button>

          <container-element [ngSwitch]="testPageStatus">
            <p
              class="info info_info"
              *ngSwitchCase="requestPrintStatusEnum.Requested"
            >
              Esperando respuesta
            </p>
            <p
              class="info info_success"
              *ngSwitchCase="requestPrintStatusEnum.Successful"
            >
              Prueba correcta
            </p>
            <p
              class="info info_danger"
              *ngSwitchCase="requestPrintStatusEnum.Fail"
            >
              Prueba fallida
            </p>
          </container-element>
        </ng-container>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Imprimir texto </mat-panel-title>
        <mat-panel-description>
          -
          <mat-icon>description</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="toPrintWrapper">
        <mat-form-field appearance="outline">
          <textarea
            [(ngModel)]="textArea"
            matInput
            rows="5"
            placeholder="Escribe aquí el texto a imprimir"
          ></textarea>
        </mat-form-field>
        <button
          mat-flat-button
          type="button"
          color="primary"
          (click)="ToPrintText()"
        >
          <mat-icon>print</mat-icon>Imprimir texto
        </button>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title> Imprimir ticket </mat-panel-title>
        <mat-panel-description>
          Imprime un ticket de venta
          <mat-icon>receipt_long</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="toPrintWrapper">
        <form [formGroup]="ticketForm">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Nombre de tu negocio</mat-label>
            <input
              matInput
              type="text"
              formControlName="businessName"
              maxlength="21"
              required
            />
            <mat-icon matSuffix>storefront</mat-icon>
          </mat-form-field>
          <div formArrayName="ticketItems">
            <div
              class="itemTicket"
              *ngFor="let item of itemsFormTicket.controls; let i = index"
              [formGroupName]="i"
            >
              <mat-form-field appearance="outline" style="width: 64px">
                <mat-label>Uds</mat-label>
                <input matInput type="number" formControlName="uds" required />
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Descripción</mat-label>
                <input
                  matInput
                  type="text"
                  formControlName="description"
                  maxlength="21"
                  required
                />
              </mat-form-field>
              <mat-form-field appearance="outline" style="width: 96px">
                <mat-label>€/ud</mat-label>
                <input
                  matInput
                  type="number"
                  formControlName="eur_ud"
                  required
                />
              </mat-form-field>
              <button
                mat-icon-button
                color="warn"
                (click)="deleteTicketItem(i)"
              >
                <mat-icon>clear</mat-icon>
              </button>
            </div>
          </div>
        </form>
        <button mat-stroked-button type="button" (click)="addTicketItem()">
          <mat-icon>add</mat-icon>Añadir línea al ticket
        </button>
        <button
          mat-flat-button
          type="submit"
          color="primary"
          (click)="ToPrintTicket()"
          [disabled]="ticketForm.invalid"
        >
          <mat-icon>receipt_long</mat-icon>Imprimir ticket
        </button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <p style="text-align: center">
    <a href="https://fjmduran.com" target="_blank" rel="noopener noreferrer"
      >@fjmduran</a
    >
  </p>
</div>
