<div class="wrapper">
  <h1>
    Trabajando con una impresora térmica <mat-icon>receipt_long</mat-icon>
  </h1>

  <div class="printerWrapper">
    <button
      mat-flat-button
      type="button"
      (click)="loadPrinters()"
      color="primary"
    >
      <mat-icon>print</mat-icon>Cargar impresoras
    </button>
    <ng-container *ngIf="printers$ | async as printers">
      <mat-form-field appearance="outline">
        <mat-label>Elige una impresora</mat-label>
        <mat-select [(ngModel)]="selectedPrinter" required>
          <mat-option *ngFor="let printer of printers" [value]="printer">{{
            printer
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <button
        *ngIf="selectedPrinter !== ''"
        mat-stroked-button
        type="button"
        (click)="PrintTestMessage()"
        color="primary"
      >
        <mat-icon>receipt_long</mat-icon>Imprimir página de prueba
      </button>

      <container-element [ngSwitch]="testPageStatus">
        <p class="info info_info" *ngSwitchCase="1">Esperando respuesta</p>
        <p class="info info_success" *ngSwitchCase="2">Prueba correcta</p>
        <p class="info info_danger" *ngSwitchCase="3">Prueba fallida</p>        
     </container-element>
    </ng-container>
  </div>
</div>
