.wrapper{
    padding: 1rem;
}

h1{
    text-align: center;
}

.printerWrapper{
    max-width: 400px;

    display: flex;
    flex-direction: column;
}

.toPrintWrapper{
    max-width: 400px;

    display: flex;
    flex-direction: column;
}

.itemTicket{
    display: flex;
    justify-content: space-between;
}