<div class="wrapper">
  <h1>
    Trabajando con una impresora térmica <mat-icon>receipt_long</mat-icon>
  </h1>

  <div class="printerWrapper">
    <button
      mat-flat-button
      type="button"
      (click)="loadPrinters()"
      color="primary"
    >
      <mat-icon>list</mat-icon>Cargar impresoras
    </button>
    <ng-container *ngIf="printers$ | async as printers">
      <mat-form-field appearance="outline">
        <mat-label>Elige una impresora</mat-label>
        <mat-select [(ngModel)]="selectedPrinter" required>
          <mat-option *ngFor="let printer of printers" [value]="printer">{{
            printer
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <button
        *ngIf="selectedPrinter !== ''"
        [disabled]="testPageStatus === requestPrintStatusEnum.Requested"
        mat-stroked-button
        type="button"
        (click)="PrintTestMessage()"
        color="primary"
      >
        <mat-icon>receipt_long</mat-icon>Imprimir página de prueba
      </button>

      <container-element [ngSwitch]="testPageStatus">
        <p
          class="info info_info"
          *ngSwitchCase="requestPrintStatusEnum.Requested"
        >
          Esperando respuesta
        </p>
        <p
          class="info info_success"
          *ngSwitchCase="requestPrintStatusEnum.Successful"
        >
          Prueba correcta
        </p>
        <p class="info info_danger" *ngSwitchCase="requestPrintStatusEnum.Fail">
          Prueba fallida
        </p>
      </container-element>
    </ng-container>
  </div>

  <div class="toPrintWrapper">
    <mat-form-field appearance="outline">
      <textarea
        [ngModel]="textArea"
        matInput
        rows="5"
        placeholder="Escribe aquí el texto a imprimir"
      ></textarea>
    </mat-form-field>
    <button mat-flat-button type="button" color="primary" (click)="ToPrint()">
      <mat-icon>print</mat-icon>Imprimir texto
    </button>
  </div>

  <div class="toPrintWrapper">
    <form [formGroup]="ticketForm">
      <div formArrayName="ticketItems">
        <div
          class="itemTicket"
          *ngFor="let item of itemsFormTicket.controls; let i = index"
          [formGroupName]="i"
        >
          <mat-form-field appearance="outline" style="width: 64px">
            <mat-label>Uds</mat-label>
            <input matInput type="number" formControlName="uds" required />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Descripción</mat-label>
            <input
              matInput
              type="text"
              formControlName="description"
              required
            />
          </mat-form-field>
          <mat-form-field appearance="outline" style="width: 96px">
            <mat-label>€/ud</mat-label>
            <input matInput type="number" formControlName="eur_ud" required />
          </mat-form-field>
        </div>
      </div>
    </form>
    <button
      mat-flat-button
      type="submit"
      color="primary"
      (click)="ToPrintTicket()"
    >
      <mat-icon>receipt_long</mat-icon>Imprimir ticket
    </button>
  </div>
</div>
